* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: rgb(0, 0, 0);
  background: #dbb872;
}

html,
body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  top: 0;
  width: 100%;
  z-index: 10;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background: transparent; /* kein Hintergrund */
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 0;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #dbb872;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 9rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #dbb872;
}

/* Burger-Menü */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0); /* halbtransparentes Menü */
    flex-direction: column;
    width: 100%;
    display: none;
    text-align: center;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .nav-links li a {
    font-size: 1rem; /* etwas größer auf Mobile */
  }

  .navbar {
    padding-top: 2rem;
  }
}

/* Inhalt */

.footer {
  font-size: smaller;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  color: white;
  text-align: center;
  padding: 1rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 1% 2rem;
  flex-wrap: wrap;
}

.footer-alt {
  position: relative;
}

.footer-section {
  flex: 1 1 200px;
  margin: 1rem;
}

.footer-section p {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section p:hover {
  color: #dbb872;
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  position: relative;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 1.5s ease-in-out both;
}

/* Neu: für Seitenwechsel */
.fade-out {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10rem;
  color: white;
}

.content-text {
  max-width: 600px;
}

.content-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 120;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.content-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify;
  font-weight: 100;
  hyphens: auto;
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1.3rem;
}

.content-text p {
  font-size: 0.9rem;
  line-height: 1.6;
  padding-top: 3rem;
}

@media screen and (max-width: 768px) {
  .content-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 120;
    text-align: center;
  }
  .content-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 100;
    hyphens: auto;
    line-height: 1.6;
    display: flex;
    letter-spacing: 0.35rem;
  }
}

.nav-links a.active {
  color: #dbb872;
}
