.masonry {
  column-count: 3;
  column-gap: 1rem;
  max-width: 1200px;
  margin: 0rem auto 4rem auto; /* top, right/left, bottom */
  padding: 0 !important;
  height: auto !important;
  display: block !important;
  overflow: visible !important;
}

.masonry img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.masonry img:hover {
  transform: scale(1.01);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .masonry {
    column-count: 1;
    padding: 1rem;
  }
}

.masonry {
  height: auto !important;
  display: block !important;
  overflow: visible !important;
  padding: 0 !important;
}
